.navbar-container{
    position: fixed;
    width: 100%;
}

.navbar-container .logo{
    z-index: 200;
}

.navbar-container .navbar{
    z-index: 100;
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{
    font-size: 10px;
}

.content-header{
    padding-top: 70px;
}

@media all and (max-width: 767px){
  .site-index{
      padding-top: 0px;
  }
}

@media all and (max-width: 767px){
  .content-header{
      padding-top: 120px;
  }
}

.glyphicon.glyphicon-eye-open{
  padding-left: 10px;
}

.glyphicon.glyphicon-qrcode{
  padding-left: 10px;
}

.box-title{
  width: 100%;
}

.box-tools.pull-left{
  position: relative;
  top: 10px;
  right: 0px;
}
