.cl_1{
  background-color: #43984A;
}
.cl_2{
  background-color: #FF9D00;
}
.cl_3{
  background-color: #DD4B39;
}
.cl_4{
  background-color: #daf2da;
}

.bd_1{
  border-color: #43984A;

}

.btn_1{
  background-color: #43984A;
  border: none;
  color: white;
}
.btn_1 :hover{
  background-color: #50ba58;
  color: white;
}
.btn_1 :active{
  background-color: #337539;
  color: white;
}

.step_cnt{
  width: 100%;
  margin: 20px 0;
}

.step_cnt button{
  border: none;
}

.col_4{
  width: 30%;
}

.form_step{
  float: left;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.form_cnt{
  padding: 5px;
}

.form_head {
  width: 100%;
  color: green;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.form_1{
  background-color: white;
}
.form_2{
  background-color: white;
}
.form_3{
  background-color: white;
}

.clear {
  clear: both;
}

.ikon {
  display: block;
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
  top: -30px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: -30px;
}
.ikon2 {
  display: block;
  width: 120px;
  height: 120px;
  float: left;
  position: relative;
  top: -10px;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: -20px;
}

.ikonbtn{
  width: 300px;
  height: 330px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;

}

.ikon_1{
  background-image: url(../images/colors/bridge/icons-03.png);
}
.ikon_2{
  background-image: url(../images/colors/bridge/icons-02.png);
}
.ikon_3{
  background-image: url(../images/colors/bridge/icons-05.png);
}
.ikon_4{
  background-image: url(../images/colors/bridge/icons-04.png);
}
.ikon_5{
  background-image: url(../images/colors/bridge/icons-06.png);
}
.ikon_6{
  background-image: url(../images/colors/bridge/icons-07.png);
}
.linkkonflik .ikonbtn{
  background-image: url(../images/colors/bridge/icons-08.png);
}
.linkusulan .ikonbtn{
  background-image: url(../images/colors/bridge/icons-09.png);
}
.linkkonflik .icon_small{
  background-image: url(../images/colors/bridge/icons-10.png);
}
.linkusulan .icon_small{
  background-image: url(../images/colors/bridge/icons-11.png);
}

.icon_small{
  height: 20px;
  width: 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 20px;
}

.btn_big{
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.btn_big h6{
  font-size: 28px;
  font-weight: bold;
}

.linkkonflik{
  border: 5px solid #DD4B39;
}

.linkkonflik:hover{
  background-color: #fff7f7;
}
.linkkonflik:active{
  background-color: #ffe6e2;
}

.linkkonflik h6{
  color: #DD4B39;
}

.linkusulan{
  border: 5px solid #FF9D00;
}
.linkusulan:hover{
  background-color: #fffef7;
}
.linkusulan:active{
  background-color: #fff6bf;
}
.linkusulan h6{
  color: #FF9D00;
}

.title_wrapper{
  margin: 100px 0 0;
}
.title_wrapper2{
  margin: 10px 0 50px;
}
.title_wrapper2 h2{
  position: relative;
  top: 20px;
}
.title_wrapper h6{
  font-size: 20px;
}



.box_wrapper{
  margin: 30px 0;
  padding: 20px;
  border: 2px solid #43984A;
  border-radius: 5px;
}

#statpengaduan{
  padding: 10px 15px;
  margin: 10px 0 50px;
}

#statpengaduan h6{
  font-weight: bold;

}

#totpeng {
  text-align:center;
  margin-top:30px;
  padding-left:5px;
  padding-right:5px;
}

#totpeng h3{
  font-size: 35px;
  margin-bottom: 30px;
  color: white;
}

#totpeng h3 b{
  font-size: 35px;
}

.statwrap{
  /*border: 2px solid #43984A;*/
  padding: 40px 0;
  border-radius: 5px 5px 0 0;
}
.statwrap2{
  background-color: #43984A;
  border-radius: 0 0 5px 5px;

}
.statwrap_1{
  /*border: 2px solid #2c527c;*/
  padding: 40px 0;
  border-radius: 5px 5px 0 0;
}
.statwrap2_1{
  background-color: #2c527c;
  border-radius: 0 0 5px 5px;

}

.statpeng {
  width: 100%;
  margin: 0 auto 0;
}

.statpeng .boxed {
  width: 16.666666666666667%;
  height: 200px;
  /*background-color: white;*/
}
.statpeng .boxed2 {
  width: 20%;
  height: 200px;
  /*background-color: white;*/
}
.statpeng .boxed .boxnumber {
  height: 100px;
  width: 100px;
  margin: 10px auto 30px;
  border-radius: 20px;
  padding-top: 40px;
}
.statpeng .boxed .boxnumber .icon{
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.statpeng .boxed .one #triangle-down{
  border-top-color:  #A3ACAE;
}
.statpeng .boxed .one {
  background-color: #A3ACAE;
}
.statpeng .boxed .two #triangle-down{
  border-top-color:  #DD4B39;
}
.statpeng .boxed .two {
  background-color: #DD4B39;
}
.statpeng .boxed .three #triangle-down{
  border-top-color:  #F59D14;
}
.statpeng .boxed .three {
  background-color: #F59D14;
}
.statpeng .boxed .four #triangle-down{
  border-top-color:  #E8DA17;
}
.statpeng .boxed .four {
  background-color: #E8DA17;
}
.statpeng .boxed .five #triangle-down{
  border-top-color:  #44BA3B;
}
.statpeng .boxed .five {
  background-color: #44BA3B;
}
.statpeng .boxed .six #triangle-down{
  border-top-color:  #3a99ff;
}
.statpeng .boxed .six {
  background-color: #3a99ff;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

.statpeng .boxed .boxtext {
  height: 50%;
  text-align: center;
  padding-top: 10px;
}
.statpeng .boxed .boxtext h5{
  font-size: 15px;
}
.statpeng .boxed .boxtext a{
  font-weight: bold;
}


.last_cnt{
  margin: 30px 0 100px;
}

.map_wrapper{
  padding:20px;
  border-radius: 5px;
  background-color: #daf2da;
}

.full_w{
  width: 100%;
}

.text_center{
  text-align: center;
}

h6 {
  margin: 0;
}

#lpengaduan{
  padding: 10px 12px;
}

#lpengaduan h6{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.lkonflik, .lusulan{
  padding: 10px;
}

.lkonflik h6,.lusulan h6{
  font-weight: bold;
  color: white;
}

.lkonflik2 :hover{
  background-color: #ff5742;
}
.lkonflik2 :active{
  background-color: #a3392c;
  border: none;
}
.lusulan2 :hover{
  background-color: #ffb33d;
}
.lusulan2 :active{
  background-color: #c47e11;
  border: none;
}
.lusulan2{
  padding: 0;
}
.lkonflik2{
  padding: 0 10px 0 0;
}


#foot {
  width: 1210px;
  background-color: #39B54A;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

#triangle-down {
  float: left;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid;
  margin:auto;
  position: relative;
  top: 35px;
  left: 40px;
  z-index: 50;
}

#circle {
	width: 15px;
	height: 15px;
	background: white;
  border: 2px solid #696969;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  top: 50px;
  left: 43px;
  z-index: 30;
}

#statgaris{
  height: 8px;
  width: 1050px;
  border-radius: 50px;
  /*background-color: darkgrey;*/
  position: relative;
  z-index: 10;
  top: -73px;
  left: 80px;
  background: #696969; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #696969 , #43984A); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #696969, #43984A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #696969, #43984A); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #696969 , #43984A); /* Standard syntax (must be last) */

}



*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Generic styling */

/*body{
	background: #F5EEC9;
}*/

.content2{
	width: 100%;
	max-width: 1142px;
	margin: 0 auto;
	padding: 0 20px;
  border-radius: 5px;
}

.content2 a:focus{
	outline: 2px dashed #f7f7f7;
}

@media all and (max-width: 767px){
	.content2{
		padding: 0 20px;
	}
}

.content2 ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.content2 ul a{
  padding: 10px;
	display: block;
	background: #57df84;
	border: 4px solid #fff;
  border-radius: 5px;
	text-align: center;
	overflow: hidden;
	font-size: .7em;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	min-height: 70px;
	margin-bottom: -26px;
	/*box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);*/
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	transition: all linear .1s;
}


@media all and (max-width: 767px){
	.content2 ul a{
		font-size: 1em;
	}
}


.content2 ul a span{
	top: 10%;
	display: block;
  line-height: 15px;
}
.content2 ul a p{
	display: block;
}

/*

 */

.administration > li > a{
	margin-bottom: 25px;
}

.director > li > a{
	width: 50%;
	margin: 0 auto 0px auto;
}

.subdirector:after{
	content: "";
	display: block;
	width: 0;
	height: 130px;
	background: red;
	border-left: 4px solid #fff;
	left: 45.45%;
	position: relative;
}

.subdirector,
.departments{
	position: relative;
	width: 100%;
}

.subdirector > li:first-child,
.departments > li:first-child{
	width: 18.59894921190893%;
	height: 64px;
	margin: 0 auto 20px auto;
	padding-top: 25px;
	/*border-bottom: 4px solid white;*/
	z-index: 1;
}

.subdirector > li:first-child{
	float: right;
	right: 27.2%;
	border-left: 4px solid white;
}

.departments > li:first-child{
	float: left;
	left: 27.2%;
	border-right: 4px solid white;
}

.subdirector > li:first-child a,
.departments > li:first-child a{
	width: 100%;
}

.subdirector > li:first-child a{
	left: 25px;
}

@media all and (max-width: 767px){
	.subdirector > li:first-child,
	.departments > li:first-child{
		width: 40%;
	}

	.subdirector > li:first-child{
		right: 10%;
		margin-right: 2px;
	}

	.subdirector:after{
		left: 49.8%;
	}

	.departments > li:first-child{
		left: 10%;
		margin-left: 2px;
	}
}


.departments > li:first-child a{
	right: 25px;
}

.department:first-child,
.departments li:nth-child(2){
	margin-left: 0;
	clear: left;
}

.departments:after{
	content: "";
	display: block;
	position: absolute;
	width: 81.1%;
	height: 22px;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
	margin: 0 auto;
	top: 62px;
	left: 9.1%
}

@media all and (max-width: 767px){
	.departments:after{
		border-right: none;
		left: 0;
		width: 49.8%;
	}
}

@media all and (min-width: 768px){
	.department:first-child:before,
   .department:last-child:before{
    border:none;
  }
}

.department:before{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 22px;
	border-left: 4px solid white;
	z-index: 1;
	top: -22px;
	left: 50%;
	margin-left: -4px;
}

.department{
	border-left: 4px solid #fff;
	width: 18.59894921190893%;
	float: left;
	margin-left: 1.751313485113835%;
	margin-bottom: 60px;
}

.lt-ie8 .department{
	width: 18.25%;
}

@media all and (max-width: 767px){
	.department{
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.department:before{
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 60px;
		border-left: 4px solid white;
		z-index: 1;
		top: -60px;
		left: 0%;
		margin-left: -4px;
	}

	.department:nth-child(2):before{
		display: none;
	}
}

.department > a{
	margin: 0 0 -26px -4px;
	z-index: 1;
}

.department > a:hover{
	/*height: 80px;*/
  /*width: 105%;*/
  left: -5px;
  top: -5px;
}

.department > ul{
	margin-top: 0px;
	margin-bottom: 0px;
}

.department li{
	padding-left: 25px;
	border-bottom: 4px solid #fff;
	height: 240px;
}

.department li a{
	background: #fff;
	top: 100px;
	position: absolute;
	z-index: 1;
	width: 90%;
	min-height: 60px;
	vertical-align: middle;
	right: -1px;
	/*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%) !important;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0)))!important;
	background-image: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: -o-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: linear-gradient(135deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 );*/
}

.department li a:hover{
	/*box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.1);*/
	/*height: 80px;*/
	/*width: 92%;*/
  left: 20px;
	top: 96px;
	/*background-image: none!important;*/
}

/* Department/ section colors */
.department.dep-a a{ background: #57dfa4; }
.department.dep-b a{ background: #57df65; }
.department.dep-c a{ background: #88df57; }
.department.dep-d a{ background: #b4df57; }
.department.dep-e a{ background: #dfde57; }

.dep_a { background-color:  #57dfa4; }
.dep_b { background-color:  #57df65; }
.dep_c { background-color:  #88df57; }
.dep_d { background-color:  #b4df57; }
.dep_e { background-color:  #dfde57; }

.employee {
  margin: 50px 0 0;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  background-color: white;
}
.divisi {
  padding: 10px;
  /*background-color: lightgrey;*/
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -40px;
}

.anggota{
  margin: 10px 0 0;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.anggota p{
  font-size: 12px;
}
.pointer2{
  cursor: pointer;
}

.rules {
  padding: 10px;
}

.rules .title_r {
  padding: 10px;
}

.rules .ov_r {
  padding: 20px;
  background-color: white;
}

.rules .ov_r p{

}
.rules .ov_r a{
  padding: 10px;
}
